{#
 * This package is responsible for displaying the html elements.
 * 
 * Copyright (C) 2023, José V S Carneiro
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,    
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "Main.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href={{ CSS_ ~ 'NewTicket.css' }}>
{% endblock %}

{% set PROCESS_ = URL_ ~ 'ticket/process/add' %}

{% block main %}

<div class="h-100 d-flex justify-content-center align-items-center">

    <div id="template" class="h-50">
        <form id="form" method="POST" action="{{ PROCESS_ }}">
            <div class="d-flex flex-column mt-2">
                <label for="form__price" class="fw-bold">Preço</label>
                <input type="text" id="form_price" name="price" class="border-0" placeholder="543,25" pattern="^(0|[1-9]\d{0,2}(\.\d{3})*),\d{2}$" autofocus required>
            </div>
            <div class="d-flex flex-column mt-2">
                <label for="form__date" class="fw-bold">Vencimento</label>
                <input type="date" id="form__date" name="due_date" class="border-0">
            </div>
            <div class="d-flex flex-column mt-2">
                <label for="form__supplier" class="fw-bold">Fornecedor</label>
                <select id="form__supplier" name="supplier" class="border-0" name="supplier">

                    {% if SUPPLIERS_LIST|length < 1 %}
                        <option value="0">Adicione um fornecedor</option>
                    {% endif %}

                    {% for supplier in SUPPLIERS_LIST %}
                        <option value="{{ supplier.supplier_id }}">{{ supplier.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" id="form__submit" class="w-100 fw-bold mt-2 btn btn-outline-primary" value="Cadastrar">
        </form>
    </div>

</div>

{% endblock %}